.App {
  text-align: center;
}

.containerBtnHome{
  display: flex;
  gap: 1rem;
}

.ButtonHome{
  padding: 1rem 2rem;
  background-color: rgba(4, 0, 255, 0.351);
  color: #fff;
  text-decoration: none;

}
.ButtonCreate{
  width: 2rem;
  height: 2rem;
  background-color: rgb(91, 91, 91);
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 50%; */

}