/* .App {
  text-align: center;
} */


button{
border: none;
}

a{
  text-decoration: none;
  color: black;
}
h3{
  margin: 0;
}
p{
  margin: 0;
}

.containerBtnHome{
  display: flex;
  gap: 1rem;
}

.ButtonHome{
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: rgba(4, 0, 255, 0.351);
  color: #fff;
  text-decoration: none;
  border-radius: 10px;

}
.ButtonCreate{
  padding:1rem 2rem;
  background-color: rgb(91, 91, 91);
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  border-radius: 10px;


}

.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:2rem 0;
}

.ButtonStart{
  background-color: rgb(65, 203, 65);
  font-size: 25px;
  font-weight: bold;
  padding:1rem 2rem;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  border-radius: 10px;
}

.chronometro{
  padding: 2rem 4rem;
  background-color: rgb(65, 179, 65);
}
.SeriesCounter{
  padding: 2rem 4rem;
  background-color: rgb(65, 107, 179);
}
.nextExercise{
  background-color: rgb(203, 168, 65);
  font-size: 25px;
  font-weight: bold;
  padding:1rem 2rem;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  border-radius: 10px;
}


.endExercise{
  background-color: rgb(203, 65, 65);
  font-size: 25px;
  font-weight: bold;
  padding:1rem 2rem;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  border-radius: 10px;
}

.containerInfoExercisse{

  display: flex;
  gap: 2rem;

}
.ColumnDisplay{
  display: grid;
}