body {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
}

/**colors*/
.grey {
  color: rgb(143, 143, 143);
}
.greyTransparent {
  color: rgb(164, 164, 164);
}


/*font*/

.fontLarge{
  font-size: 22px;
  line-height: 40px;
}



@media (min-width: 551px) {
  .minWidthMedia {
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .containerLogo {
    width: 30rem;
    height: 30rem;
  }
  .containerLogo img {
    width: 100%;
    height: 100%;

  }





}

@media (max-width: 470px) {
  .wrapperNameRoutineProfile {
    width: 5.2rem !important;
    height: 5.2rem !important;

  }
.displayNONEcalorieMobil{
  display: none;
}

  .wrapperNameRoutineProfile h2 {
    font-size: 15px;

  }
}

@media (max-width: 550px) {
  .minWidthMedia {
    display: none;
  }

  button {
    border: none;
  }

  a {
    text-decoration: none;
    color: black;
  }


  /*home*/


  .containerLogohome {
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 1rem;
    top: 1rem;

  }
  .containerLogohome img{
    width: 100%;
    height: 100%;
  }


  .wrapperHome {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    transform: translateY(-150px);
    
  }






  /* nav bar  */
  .containerBtnHome {
    display: flex;
    gap: 1rem;
    width: 100%;
    position: fixed;
    padding-bottom: 7px;
    justify-content: space-around;
    align-items: center;
    border-top: .5px solid rgba(33, 33, 33, 0.153);
    bottom: 0;
    height: 4rem;
    background-color: #fff;
  }

  .ButtonHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
    cursor: pointer;
  }
  .ButtonFollow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
    cursor: pointer;
  }

  .textButton {
    font-size: .8rem;
    color: rgba(33, 33, 33, 0.853)
  }


  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;

  }

  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .filterHome {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.21);
  }



  /*Profil page*/

  .containerImgProfil {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;

  }
  .containerImgProfilFound {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;

  }
  .containerImgAndName{
    display: flex;

    align-items: center;
    gap: 1.5rem;
  }


  .imgWrapper {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }


  .buttonOut {
    background-color: transparent;
    padding-left: 1rem;
    padding-top: 1rem;
  }





  .ButtonCreate {
    padding: .3rem 3rem;
    border: .5px solid rgb(91, 91, 91);
    color: rgb(23, 23, 23);
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    border-radius: 3px;

  }
  .ButtonCreate:hover {

    border: .5px solid rgb(83, 83, 83);

  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .justify{
    justify-content: center;
  }




  /* ! Chronometer*/
  .containerBtnChronometer {

    display: flex;
    gap: 10rem;
    transform: translateY(-60px);

  }

  .containerBtnChronometer button:first-child {

    background-color: #c2ffaabb;
    width: 3rem;
    height: 3rem;
    border: .5px solid rgb(155, 255, 155);
    border-radius: 50%;
    color: #fff;


  }

  .containerBtnChronometer button:nth-child(2) {

    background-color: #aaaaaabb;
    width: 3rem;
    height: 3rem;
    border: .5px solid rgb(242, 242, 242);
    border-radius: 50%;
    color: #fff;

  }


  .containerSeriesChronometerAndButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .chronometro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: transparent;
    border: 5px solid #ffd5aa;
  }

  .chronometro h2 {

    font-size: 3rem;
  }

  .SeriesCounter {
    padding: 2rem 4rem;
    background-color: rgb(65, 107, 179);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .SeriesCounter button {
    width: 4rem;
    height: 4rem;
    background-color: #ffffff42;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #ffffff;
    cursor: pointer;

  }

  .SeriesCounter button:hover {

    background-color: #ffffff62;

  }

  .nextExercise {
    background-color: #ffd5aa;
    font-size: 25px;
    font-weight: bold;
    padding: 1rem 2rem;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .nextExercise:hover {

    background-color: #f7ca9d;

  }


  .endExercise {
    background-color: rgb(203, 65, 65);
    font-size: 25px;
    font-weight: bold;
    padding: 1rem 2rem;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .endExercise:hover {

    background-color: rgb(170, 46, 46);
  }


  /*exercise list css*/
  .containerInfoExercisse {
    width: 90vw;
    display: flex;
    gap: 1rem;
    justify-content: space-around
  }

  .ColumnDisplay {
    display: flex;
    flex-direction: column;
    width: 100%;

  }

  .containerImgExercise {
    width: 6rem;
    height: 6rem;
    border-radius: .3rem;
    overflow: hidden;
  }

  .imgExercise {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*fin exercise list css*/

  .ajustDiv {
    height: 10rem;
  }

  /*component containerRoutineProfil*/
  .containerRoutineProfil {

    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 1.5rem;
    padding: 1rem 1rem;
    padding-bottom: 6rem;
    border: .5px solid rgba(33, 33, 33, 0.153);
    border-radius: 10px;
    min-height: 20rem;
    position: relative;

  }



  .wrapperNameRoutineProfile {
    width: 8rem;
    height: 8rem;
    background-color: rgba(33, 33, 33, 0.053);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }


  .wrapperRoutine {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

  }

  /*fin component containerRoutineProfil*/

  /*Detail Exercise*/
  .ContainerDetailExercise {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(39, 39, 39);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    color: #fff;


  }

  .ContainerdetailExerciseText {

    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    width: 90%;
    min-height: 20rem;
    gap: 2rem;
  }

  .containerEditAndDelete {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .containerEditAndDelete button {
    border: none;
    padding: .5rem 2rem;
    border-radius: 10rem;
    font-size: 1rem;
    background-color: #fff;
    cursor: pointer;
  }

  .containerEditAndDelete a {
    border: 1px solid #fff;
    color: #fff;
    padding: .5rem 2rem;
    border-radius: 10rem;
    font-size: 1rem;
  }

  .containerEditAndDelete button:hover {

    background-color: #ffd5aa;

  }

  .containerEditAndDelete a:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: #ffffff0e;

  }

  .wrapperTextIconDetailExercise {
    display: flex;
    gap: 7px;
    width: 100%;
  }

  /*Fin Detail Exercise*/


  /*form */

  .containerForm {
    width: 70%;
  }

  .ContainerForm form {
    padding: 1.5rem 1rem;
    background-color: #ffffff44;
    border-radius: 2rem;
    color: rgb(33, 33, 33);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #ffd5aa 1px solid;
  }
  
  /* Contenedor de repeticiones en perfil de FoundUser */

  .containerFoundUser{
  
    padding: 1.5rem 1rem;
    background-color: rgb(61, 60, 60);
    border-radius: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #ffd5aa 1px solid;
  }

  .containerFoundUser div{

    display: flex;
    flex-direction: row;
    padding: 1rem    
  }


  .ContainerForm input {
    padding: .5rem;
    text-align: center;
    border: none;
    border: .5px solid rgb(255, 255, 255);
    border-radius: .5rem;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 5px;
    caret-color: rgb(33, 33, 33);
  }

  .ContainerForm form button {
    border: none;
    background: rgb(33, 33, 33);
    color: #ffffff;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  .ContainerForm form button:hover {
    border: none;
    background: rgb(255, 210, 181);
    color: #ffffff;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }


  .ContainerForm input::placeholder {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
  }

  .ContainerForm input:hover {
    background-color: #ffdebe74;

  }


  .ContainerForm input:focus {
    outline-color: #ffd5aa;
  }

  .ContainerForm select {
    font-size: 13px;
    padding: 5px;
    border: 1px solid #ffe9b0;
    border-radius: 4px;
    background-color: #ffe9b0;
    color: #333;
    box-shadow: 0 0 0 1px #f2f2f2;
    outline: none;
    transition: box-shadow 0.2s ease-in-out;
  }
  
  input[type="file"] {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333333;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  input[type="file"]:hover,
  input[type="file"]:focus {
    background-color: #555;
  }
  /*!  form   */





  /*    profile  routine start and delete    */

  .containerBtnStartAndDelete {

    display: flex;
    justify-content: center;
    gap: 2rem;


  }
.deleteRoutine{
  padding: .5rem 2rem;
  background-color: #f7ca9d;
  color: #1d1d1d;
  border-radius: 30px;
  cursor: pointer;
}
.deleteRoutine:hover{

  background-color: #f6bd84;


}

  .ButtonStart {
    background-color: rgba(65, 203, 65, 0.563);
    font-size: 15px;
    font-weight: bold;
    padding: 1rem 2rem;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;

  }

  .ButtonStart:hover {
    background-color: rgba(65, 203, 65, 0.722);


  }

  .containerBtnStartAndDelete button:nth-child(2) {
    border-radius: 10px;
    border: 1px solid #505050;
    background-color: transparent;
    cursor: pointer;
  }

  .containerBtnStartAndDelete button:nth-child(2):hover {
    background-color: #fddec060;
  }



  /* search component*/


.searchContainer{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}
.inputSearchContainer{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  

}
.inputSearchContainer input{
  width: 70%;
  background-color: #efefef;
  border: none;
  border-radius: 10px;
  padding-left: 2rem;
  background-image: url("../src/icon/search.png");
  background-size: 15px auto;
  background-repeat: no-repeat;
  background-position: 10px center;
 
}

.inputSearchContainer input::placeholder{
font-size: 15px;
}
.inputSearchContainer input:focus{
  outline-color: #ffd5aa;
}


.inputSearchContainer button{
  padding: .5rem 1rem;
  background-color: transparent;
  font-size: 17px;
 
}

.containerLogoFound{
  width: 12rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.wrapperLogo{
  position: relative;
  width: 90%;
  height: 15rem;
}


.imgBgRoutine{
  
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: .4;
}

.cloneBtn{
  background-color: rgba(203, 145, 65, 0.563);
  font-size: 15px;
  font-weight: bold;
  padding: 1rem 2rem;
  color: #373737;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}




}